[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/lethaiviet
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lethaiviet
	label-Verified = -1..+1 group user/lethaiviet
	push = group user/lethaiviet
	read = group user/lethaiviet
	rebase = group user/lethaiviet
	removeReviewer = group user/lethaiviet
	submit = group user/lethaiviet
[access "refs/heads/*"]
	create = group user/lethaiviet
	push = +force group user/lethaiviet
	pushMerge = group user/lethaiviet
	read = group user/lethaiviet
[access "refs/tags/*"]
	push = group user/lethaiviet
	push = +force group user/lethaiviet
